  * {font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;font-size: 12px;}
  html,body{background:#69c;margin:0;padding:0;}
  #doc{background:#fff;border:1em solid #fff;}
  h1 {font-size: 3em;color: #007ACD;margin-bottom: 20px;background: url(header.gif) no-repeat left;width: 200px;height:49px;}
  h2 {font-size: 1.5em;	}
  #photos img {border: none;}
  #photos a,#navigate a{color: #007ACD;text-decoration: none;font-weight: bold;}
  #photos a:hover, a:focus {color: red;	}
  #content-container {width: 800px;margin: 0 auto;}
  #photos .image-container{float: left;margin: 5px 5px}
  #photos .image-container .date{color: #ccc;font-size: 0.87em}
  #photos .image-container p{padding: 0;margin: 0}
  #navigate {margin-bottom: 10px;padding-left: 8px}
  #navigate a,#navigate h2{display: inline;}
  #navigate .picasalink {padding-left: 20px;background: url(picasa.png) no-repeat top left}
  #navigate a.backlist{background: url(photos.png) no-repeat left top;padding-left: 20px;margin-right: 30px}
  #photos .lightbox-album{float: left;margin: 5px 5px}
  #ft{color:#ccc;font-style: verdana;font-size:100%;position:relative;text-align: left;margin:3em 0 0 0 ;}
  #ft a{color:#999;}
  strong{font-size: 12px}